/*

!/.github/
!/bin/
!/changelogs/
!/docs/
!/lib/
!/node_modules/
/node_modules/.bin/
/node_modules/.cache/
!/scripts/
!/smoke-tests/
!/tap-snapshots/
!/test/
!/workspaces/

!/.eslintrc.js
!/.eslintrc.local.json
!/.gitattributes
!/.gitignore
!/.licensee.json
!/.mailmap
!/.npmrc
!/AUTHORS
!/CHANGELOG.md
!/configure
!/CONTRIBUTING.md
!/index.js
!/LICENSE
!/make.bat
!/Makefile
!/package-lock.json
!/package.json
!/README.md
!/SECURITY.md
!/DEPENDENCIES.md
