Aaron Tribou <aaron.tribou@gmail.com> <tribou@users.noreply.github.com>
AJ Jordan <alex@strugee.net>
Aki <hi@akiro.se> <71239005+AkiaCode@users.noreply.github.com>
Alex K. Wolfe <alexkwolfe@gmail.com>
Andreas <andreas@bielk.se> <functino@users.noreply.github.com>
Andrew Bradley <cspotcode@gmail.com>
Andrew Lunny <alunny@gmail.com>
Andrew Schmadel <aschmadel@learningobjects.com> <schmod@users.noreply.github.com>
Anna Henningsen <github@addaleax.net> <sqrt@entless.org>
Anna Henningsen <github@addaleax.net> <anna@addaleax.net>
Aria Stewart <aredridel@dinhe.net> <aredridel@nbtsc.org>
Arlo Breault <arlolra@gmail.com>
Ashley Williams <ashley@npmjs.com> <ashley666ashley@gmail.com>
Ashley Williams <ashley@npmjs.com> <ashley@bocoup.com>
Audrey Eschright <audrey@lifeofaudrey.com> <audrey@npmjs.com>
Benjamin Coe <bencoe@gmail.com>
Benjamin Coe <bencoe@gmail.com> <ben@npmjs.com>
Brian White <mscdex@mscdex.net> <mscdex@gmail.com>
CalebCourier <caleb.courier@monsanto.com>
Cedric Nelson <cedric.nelson@gmail.com>
Charlie Robbins <charlie.robbins@gmail.com>
Christopher Hiller <boneskull@boneskull.com> <chiller@badwing.com>
Claudia Hernández <cghr1990@gmail.com>
Daijirō Wachi <daijiro.wachi@gmail.com>
Dalmais Maxence <root@ip-10-195-202-5.ec2.internal>
Daniel Park <daniel.park@endevors.io> <gimli01@github.com>
Danila Gerasimov <danila.gerasimov@gmail.com>
Dave Galbraith <dave@jut.io>
David Beitey <david@davidjb.com>
David Rousselie <guido.dassori@gmail.com>
Domenic Denicola <domenic@domenicdenicola.com>
dr-js <dr@dr.run>
Edward Thomson <ethomson@github.com> <ethomson@edwardthomson.com>
Einar Otto Stangvik <einaros@gmail.com>
Emily Marigold Klassen <forivall@gmail.com>
Emma Ramirez <ramirez.emma.g@gmail.com>
Enrico Weigelt <enrico.weigelt@gr13.net>
Erik Wienhold <git@ewie.name>
Evan Lucas <evan@btc.com> <evan.lucas@hattiesburgclinic.com>
Evan Lucas <evan@btc.com> <evanlucas@me.com>
Evan You <yyou@google.com> <yyx990803@gmail.com>
Faiq Raza <faiqrazarizvi@gmail.com>
Forbes Lindesay <forbes@lindesay.co.uk>
Forrest L Norvell <ogd@aoaioxxysz.net> <forrest@npmjs.com>
Forrest L Norvell <ogd@aoaioxxysz.net> <othiym23@gmail.com>
Gabriel Barros <descartavel1@gmail.com>
Gar <gar+gh@danger.computer>
Gareth Jones <jones258@gmail.com> <Jones258@Gmail.com>
Geoff Flarity <geoff.flarity@gmail.com> <gflarity@raptvm-x02.(none)>
gfyoung <gfyoung17+GitHub@gmail.com> <gfyoung17@gmail.com>
Gianluca Casati <casati_gianluca@yahoo.it> <fibo@users.noreply.github.com>
Gregers Gram Rygg <gregers.gram.rygg@finn.no>
Ifeanyi Oraelosi <ifeanyioraelosi@gmail.com>
isaacs <i@izs.me> <i@foohack.com>
isaacs <i@izs.me> <nope@not.real>
isaacs <i@izs.me> <isaacs@npmjs.com>
Jake Verbaten <raynos2@gmail.com>
Jakob Krigovsky <jakob@krigovsky.com> <jakob.krigovsky@gmail.com>
James Sanders <jimmyjazz14@gmail.com>
James Treworgy <jamietre@gmail.com>
jamesgeorge007 <jamesgeorge998001@gmail.com>
Jan Pilzer <jan.pilzer@gmx.de>
Jason Smith <jhs@iriscouch.com>
Jed Fox <git@twopointzero.us>
Jonas Weber <github@jonasw.de>
Joshua Bennett <legodudejb@gmail.com>
Joshua Bennett <legodudejb@gmail.com> <legodude17@users.noreply.github.com>
Julien Meddah <julien.meddah@deveryware.com>
Kat Marchán <kzm@zkat.tech> <kzm@sykosomatic.org>
Kevin Lorenz <mail@kevinlorenz.com>
Kris Windham <kriswindham@gmail.com>
Kyle E. Mitchell <kyle@kemitchell.com>
Lars Willighagen <lars.willighagen@gmail.com>
Leonardo Rojas <leonardo.rojas@shopify.com>
Lin Clark <lin.w.clark@gmail.com>
Luke Arduini <luke.arduini@gmail.com> <luke.arduini@me.com>
Luke Karrys <luke@lukekarrys.com> <lukekarrys@gmail.com>
Maciej Małecki <me@mmalecki.com> <maciej.malecki@notimplemented.org>
Martin Ek <mail@ekmartin.com>
Max Goodman <c@chromakode.com>
Maxim Bogushevich <boga1@mail.ru>
Maximilian Antoni <mail@maxantoni.de> <maximilian.antoni@juliusbaer.com>
Michael Hayes <michael@hayes.io> <mhayes@newrelic.com>
Misha Kaletsky <misha.kaletsky@gmail.com>
Myles Borins <mylesborins@github.com> <mborins@us.ibm.com>
Nicolas Morel <marsup@gmail.com>
nlf <quitlahok@gmail.com>
Olivier Melcher <olivier.melcher@gmail.com>
Paweł Lula <pavloblack@hotmail.com>
Ra'Shaun Stovall <rashaunstovall@gmail.com>
Ramana Venkata <idlike2dream@gmail.com> <vramana@users.noreply.github.com>
Rebecca Turner <me@re-becca.org> <rebecca@npmjs.com>
Rebecca Turner <me@re-becca.org> <turner@mikomi.org>
Ryan Emery <seebees@gmail.com>
Sam Mikes <smikes@cubane.com>
Sreenivas Alapati <sreenivas9alapati@gmail.com>
Stephanie Snopek <stephaniesnopek@gmail.com>
Takaya Kobayashi <jigsaw@live.jp>
Ted Yavuzkurt <hello@TedY.io> <davidteoman@gmail.com>
thefourtheye <thechargingvolcano@gmail.com> <thefourtheye@users.noreply.github.com>
thefourtheye <thechargingvolcano@gmail.com>
Thomas Reggi <thomas@reggi.com>
Thomas Reggi <socialtr@gmail.com> <thomas@reggi.com>
Tierney Cyren <hello@bnb.im> <accounts@bnb.im>
Timo Weiß <timoweiss@Timo-MBP.local>
Tony <zearin@gonk.net>
Trent Mick <trentm@gmail.com> <trent.mick@joyent.com>
tripu <t@tripu.info> <1016538+tripu@users.noreply.github.com>
Visnu Pitiyanuvath <visnupx@gmail.com>
Will Elwood <w.elwood08@gmail.com>
Wout Mertens <Wout.Mertens@gmail.com>
Yash Singh <saiansh2525@gmail.com>
Yeonghoon Park <sola92@gmail.com>
Zeke Sikelianos <zeke@sikelianos.com>
Zoujie Wzj <zoujie.wzj@alibaba-inc.com>
